<style>
        h1{
           font-family: black; color: black; background-color: rgb(255, 0, 0); text-align: center;
        }
        *{
           background-color: rgb(133, 231, 142);
    }
    </style> 